
    <div class="container">
    
        <h1>About me</h1>
        <p>Hello, my name is Oswaldo Gino Abreu.</p>
        <p>I graduated from USC, with a BFA in Design and Fine Arts. I am trying to learn web and software development. </p>
        <p>I am currently designing for Pandora, Media. in Oakland, California.</p>
        <p>My goal is to attend a Development Bootcamp by December 2017.</p>
        <a href="https://www.instagram.com/o_gino_abreu/" target="_blank">My Instagram</a>.
  
</div>