<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
            <div class="container">
                <h1>Welcome back!</h1>
            </div>
    </div>

<% else %>

    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Visual Design</h2>
                <p>My name is Oswaldo Gino Abreu. I am a visual designer currently working for Pandora, Media, in Oakland, California. </p>
                <p>I currently design advertising campaigns for companies that will be running through Pandora Web and Mobile platforms. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Development</h2>
                <p>My goal is to learn Front End Development and Ruby | Rails. </p>
                <p>I would love to come up with ideas, design them and finally be able to develop them. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        <div class="col-md-4">
            <h2>Fine Arts</h2>
            <p>Besides Design and Development, Drawing is my hobby. If I am not dedicating my time for development tutorials, I am probably drawing something. </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>

 <% end %>